<ion-view view-title="用户登录">
    <div class="content has-header">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">用户名</span>
                <input type="text" id="userName" ng-model="userName" placeholder="用户名" autofocus>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">密码</span>
                <input type="password" id="password" ng-model="password" placeholder="密码">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="toProject()">登&nbsp&nbsp录</button>
        </div>
    </div>
</ion-view>
